attrs==22.1.0 ; python_version >= "3.10" and python_version < "3.12"
bleach==5.0.1 ; python_version >= "3.10" and python_version < "3.12"
bokeh==2.4.3 ; python_version >= "3.10" and python_version < "3.12"
cartopy==0.21.0 ; python_version >= "3.10" and python_version < "3.12"
certifi==2022.9.24 ; python_version >= "3.10" and python_version < "3.12"
cftime==1.6.2 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "3.12"
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.3 ; python_version >= "3.10" and python_version < "3.12"
cligj==0.7.2 ; python_version >= "3.10" and python_version < "3.12"
cloudpickle==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
colorcet==3.0.1 ; python_version >= "3.10" and python_version < "3.12"
contourpy==1.0.6 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.12"
dask==2022.11.0 ; python_version >= "3.10" and python_version < "3.12"
dask[complete]==2022.11.0 ; python_version >= "3.10" and python_version < "3.12"
datashader==0.14.2 ; python_version >= "3.10" and python_version < "3.12"
datashape==0.5.2 ; python_version >= "3.10" and python_version < "3.12"
distributed==2022.11.0 ; python_version >= "3.10" and python_version < "3.12"
fiona==1.8.22 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.38.0 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2022.11.0 ; python_version >= "3.10" and python_version < "3.12"
geopandas==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
geoviews==1.9.5 ; python_version >= "3.10" and python_version < "3.12"
heapdict==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
holoviews==1.15.2 ; python_version >= "3.10" and python_version < "3.12"
hvplot==0.8.1 ; python_version >= "3.10" and python_version < "3.12"
idna==3.4 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.4 ; python_version >= "3.10" and python_version < "3.12"
llvmlite==0.39.1 ; python_version >= "3.10" and python_version < "3.12"
locket==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
markdown==3.4.1 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.1 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.6.2 ; python_version >= "3.10" and python_version < "3.12"
msgpack==1.0.4 ; python_version >= "3.10" and python_version < "3.12"
multipledispatch==0.6.0 ; python_version >= "3.10" and python_version < "3.12"
munch==2.5.0 ; python_version >= "3.10" and python_version < "3.12"
netcdf4==1.6.1 ; python_version >= "3.10" and python_version < "3.12"
numba==0.56.4 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.23.4 ; python_version >= "3.10" and python_version < "3.12"
packaging==21.3 ; python_version >= "3.10" and python_version < "3.12"
pandas==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
panel==0.14.1 ; python_version >= "3.10" and python_version < "3.12"
param==1.12.2 ; python_version >= "3.10" and python_version < "3.12"
partd==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
pillow==9.3.0 ; python_version >= "3.10" and python_version < "3.12"
psutil==5.9.4 ; python_version >= "3.10" and python_version < "3.12"
pyct==0.4.8 ; python_version >= "3.10" and python_version < "3.12"
pygeos @ https://github.com/pygeos/pygeos/releases/download/0.13/pygeos-0.13.tar.gz ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "3.12"
pyproj==3.4.0 ; python_version >= "3.10" and python_version < "3.12"
pyshp==2.3.1 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
pytz==2022.6 ; python_version >= "3.10" and python_version < "3.12"
pyviz-comms==2.2.1 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.28.1 ; python_version >= "3.10" and python_version < "3.12"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.10"
ruamel-yaml==0.17.21 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.9.3 ; python_version >= "3.10" and python_version < "3.12"
setuptools-scm==7.0.5 ; python_version >= "3.10" and python_version < "3.12"
setuptools==65.5.1 ; python_version >= "3.10" and python_version < "3.12"
shapely @ https://github.com/shapely/shapely/releases/download/1.8.5.post1/Shapely-1.8.5.post1.tar.gz ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "3.12"
tblib==1.7.0 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
tornado==6.1 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.64.1 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "3.12"
urllib3==1.26.12 ; python_version >= "3.10" and python_version < "3.12"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.12"
xarray==2022.11.0 ; python_version >= "3.10" and python_version < "3.12"
zict==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
